bcrypt==2.0.0
camel==0.1
feedgen==0.3.2
markdown==2.6.6
psycopg2==2.6.2
pyramid==1.6
pyramid_chameleon==0.3
pyramid_debugtoolbar==2.4.2
pyramid_mailer==0.14.1
pyramid_redis_sessions==1.0.1
pyramid_tm==0.12.1
pytz==2016.3
requests==2.10.0
requests-oauthlib==0.6.2
SQLAlchemy==1.0.11
transaction==1.4.4
waitress==0.8.10
zope.sqlalchemy==0.7.6
