/* Main layout */

html, body { min-height: 100vh; }

body { display: flex; flex-direction: column; background-color: #d3ccc8; line-height: 1.5; }
h1, h2 { font-weight: normal; color: #391c09; }

body > header { overflow: hidden; background-color: #15392b; line-height: 4.5rem; }
#header_inner { max-width: 900px; margin: 0 auto; }
#logo { float: left; margin: 0; font-size: 1.5rem; }
header nav { float: left; }
header ul { margin: 0; padding: 0; list-style-type: none; }
header li { float: left; margin-left: 0.75rem; }
header a { color: #fff; }

#flash_messages { margin-top: 0; padding: 0; list-style-type: none; text-align: center; }
#flash_messages li { padding: 5px 10px; background-color: #fff; }

main { flex: 1; width: 100%; max-width: 900px; margin: 30px auto 50px; padding: 0 20px; }

#breadcrumb ul { margin: 10px 0 0; padding: 0; list-style-type: none; }
#breadcrumb li { display: inline; }
#breadcrumb li::after { content: " »"; }

#content { overflow: hidden; padding: 0 25px; background-color: #fff; box-shadow: 0 2px 10px rgba(57, 28, 9, 0.25); }

hr { border-width: 1px 0 0 0; border-style: solid; border-color: #ccc; }

footer { min-height: 25px; background-color: #15392b; }

/* Logs */

#author { margin-top : 0; text-align: center; }

.log_body header, .log_body section { margin: 80px; font-family: serif; font-size: 1.2rem; line-height: 2rem; }
.log_body section h1 { margin: 0 0 3rem; }

.log_body textarea { display: block; width: 100%; margin: -20px -25px 20px; padding: 20px 25px; background-color: #f8f8f8; border: none; box-shadow: 0 1px 2px #ddd inset; resize: vertical; font: inherit; }
.log_body textarea[name="summary"] { margin-top: 0; margin-bottom: 0; }

#save_chapter { position: fixed; right: 20px; bottom: 20px; }

